<ion-header>
  <ion-toolbar>
    <ion-title>Trocar senha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="body">
    <label for="password">Nova senha</label>
    <div class="input wrapper">
      <input [type]="passwordVisible[1] ? 'text' : 'password'" id="password-new" name="password" />
      <button (click)="passwordVisible[1] = !passwordVisible[1]" class="showPassword">
        <ion-icon *ngIf="passwordVisible[1]" name="eye-sharp"></ion-icon>
        <ion-icon *ngIf="!passwordVisible[1]" name="eye-off"></ion-icon>
      </button>
    </div>
    <label for="password">Confirmar nova Senha</label>
    <div class="input wrapper">
      <input [type]="passwordVisible[2] ? 'text' : 'password'" id="password-new-confirm" name="password" />
      <button (click)="passwordVisible[2] = !passwordVisible[2]" class="showPassword">
        <ion-icon *ngIf="passwordVisible[2]" name="eye-sharp"></ion-icon>
        <ion-icon *ngIf="!passwordVisible[2]" name="eye-off"></ion-icon>
      </button>
    </div>
    <button class="button" (click)="changePassword()">Mudar senha</button>
  </div>
</ion-content>