<div id="login">
  <div class="logo">
    <img src="assets/icon/icon.svg">
  </div>
  <div class="body">
    <div id="form">
      <label for="email">Email</label>
      <input class="input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" type="text">
      <label for="password">Senha</label>
      <div class="input wrapper">
        <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" />
        <button (click)="passwordVisible = !passwordVisible" id="showPassword">
          <ion-icon *ngIf="passwordVisible" name="eye-sharp"></ion-icon>
          <ion-icon *ngIf="!passwordVisible" name="eye-off"></ion-icon>
        </button>
      </div>
      <button class="button" (click)="login()">Entrar</button>
    </div>
  </div>
  <div class="footer">
    <p>Não possui conta?</p>
    <button routerLink="/register">Crie uma conta</button>
  </div>
</div>