.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  .cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .icon {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 2em;
    height: 2em;
    z-index: 999;
  }

  .title {
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    text-transform: capitalize;
    color: rgb(23, 23, 23);
  }

  .overlay {
    background: linear-gradient(transparent 60%, rgb(255 255 255 / 92%) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}