#login {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    #showPassword {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        background: none;
        margin-right: 8px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;
    }
    .wrapper {
        position: relative;
        height: 40px;
    }
    .input {
        position: relative;
        width: 100%;
        padding: 8px;
        font-size: 1.1em;
        border-radius: 25px;
        border: none;
        text-align: center;
        margin: 1em 0;
        overflow: hidden;
        input {
            border-radius: 25px;
            text-align: center;
            border: none;
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    .button {
        padding: 8px;
        font-size: 1.1em;
        border-radius: 25px;
        border: none;
        text-align: center;
        margin: 1em 0;
        background-color: grey;
    }
    
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    button {
        padding: 8px 16px;
        font-size: 1.1em;
        border-radius: 25px;
        border: none;
        text-align: center;
        margin: 1em 0;
    }
}

h1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    img {
        height: 2em;
    }
}